.contact {
    height: 100%;
    position: relative;
    .container {
        padding: 120px 0;
        height: 100%;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
}

.contact_wrap {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
    iframe {
        height: 100%;
        width: 45%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        @media (max-width: 990px) {
            width: 100%;
            position: relative;
            height: 300px;
        }
    }
    .contact_feedback_wrap {
        display: grid;
        align-items: center;
        grid-gap: 20px;
        grid-template-columns: 1fr 2fr;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
    }
    .contact_info_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        .contact_title {
            margin-bottom: 5px;
            font: 600 1.5rem 'Hind Siliguri', sans-serif;
        }
        .contact_item {
            font: 400 1rem 'Hind Siliguri', sans-serif;
            color: #4a4b4b;
        }
    }
    .form_contact {
        position: relative;
        z-index: 9;
        padding: 30px;
        background: #fff;
        box-shadow: 0 0 10px #cccccc;
        @media (max-width: 990px) {
            padding: 15px;
        }
        .form_title {
            margin-bottom: 10px;
            font: 600 1.5rem 'Hind Siliguri', sans-serif;
        }
        .form_input_box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            @media (max-width: 576px) {
                grid-template-columns: 1fr;
                grid-gap: 0;
            }
        }
        input {
            font: 400 1rem 'Hind Siliguri', sans-serif;
            padding: 10px 15px;
            appearance: none;
            outline: none;
            width: 100%;
            box-sizing: border-box;
            border: none;
            margin-bottom: 10px;
            background: #f7f7f7;
        }
        textarea {
            font: 400 1rem 'Hind Siliguri', sans-serif;
            padding: 10px 15px;
            appearance: none;
            outline: none;
            width: 100%;
            box-sizing: border-box;
            border: none;
            margin-bottom: 10px;
            height: 120px;
            background: #f7f7f7;
            resize: none;
        }
        button {
            border-radius: 30px;
            padding: 15px 25px;
            background: rgb(1, 125, 63);
            background: linear-gradient(90deg, rgba(1, 125, 63, 1) 40%, rgba(236, 192, 29, 1) 93%);
            color: #fff;
            width: 100%;
            border: none;
            text-align: center;
            font: 500 1.125rem 'Hind Siliguri', sans-serif;
            box-sizing: border-box;
        }
    }
}